<br>
<form {{action "submit" on="submit"}}>
  {{input value=title placeholder="Title"}}
  {{input value=url placeholder="URL"}}
  {{input value=description placeholder="Description"}}

  <button type="submit">Submit</button>
</form>
{{outlet}}
